node_modules/
.pnp
.pnp.js

dist/
dist-ssr/
build/
.vite/

.env
.env.local
.env.*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.cache/
.tmp/
.temp/
coverage/
.nyc_output/
dev-dist/

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Файлы операционных систем
.DS_Store
Thumbs.db

# docker-compose.override.yml

# public/sw.js
# public/workbox-*.js

*.local

*.tsbuildinfo